[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
develop = "sh -c 'python -m maturin develop -r && python -i -c \"from deuterium import *; from timeit import timeit\"'"
test = "sh -c 'python -m maturin develop && python -m pytest'"

[packages]
pytest = "*"

[dev-packages]
maturin = "*"

[requires]
python_version = "3"
